In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [37]:
df_covid = pd.read_csv('Latest Covid-19 India Status.csv')

In [38]:
df_covid.head(10)

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,Andaman and Nicobar,7549,1,7419,129,0.01,98.28,1.71
1,Andhra Pradesh,1995669,16341,1965657,13671,0.82,98.50,0.69
2,Arunachal Pradesh,51655,1763,49640,252,3.41,96.10,0.49
3,Assam,581398,8772,567113,5513,1.51,97.54,0.95
4,Bihar,725518,204,715665,9649,0.03,98.64,1.33
5,Chandigarh,62035,42,61182,811,0.07,98.62,1.31
6,Chhattisgarh,1003870,1037,989284,13549,0.10,98.55,1.35
7,Dadra and Nagar Haveli and Daman and Diu,10657,4,10649,4,0.04,99.92,0.04
8,Delhi,1437156,471,1411612,25073,0.03,98.22,1.74
9,Goa,172683,884,168622,3177,0.51,97.65,1.84

In [6]:
pd.set_option('display.max_columns',None)
df_covid.head()

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,Andaman and Nicobar,7549,1,7419,129,0.01,98.28,1.71
1,Andhra Pradesh,1995669,16341,1965657,13671,0.82,98.50,0.69
2,Arunachal Pradesh,51655,1763,49640,252,3.41,96.10,0.49
3,Assam,581398,8772,567113,5513,1.51,97.54,0.95
4,Bihar,725518,204,715665,9649,0.03,98.64,1.33

In [7]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
State/UTs              36 non-null object
Total Cases            36 non-null int64
Active                 36 non-null int64
Discharged             36 non-null int64
Deaths                 36 non-null int64
Active Ratio (%)       36 non-null float64
Discharge Ratio (%)    36 non-null float64
Death Ratio (%)        36 non-null float64
dtypes: float64(3), int64(4), object(1)
memory usage: 2.3+ KB

In [8]:
df_covid.dtypes

State/UTs               object
Total Cases              int64
Active                   int64
Discharged               int64
Deaths                   int64
Active Ratio (%)       float64
Discharge Ratio (%)    float64
Death Ratio (%)        float64
dtype: object

In [9]:
df_covid.isnull().sum()

State/UTs              0
Total Cases            0
Active                 0
Discharged             0
Deaths                 0
Active Ratio (%)       0
Discharge Ratio (%)    0
Death Ratio (%)        0
dtype: int64

Since the dataset don't have null values or missing place no need of handing.

In [10]:
df_covid['Deaths'].replace(np.NaN,df_covid['Deaths'].mean)

0        129
1      13671
2        252
3       5513
4       9649
5        811
6      13549
7          4
8      25073
9       3177
10     10078
11      9661
12      3557
13      4399
14      5132
15     37039
16     18870
17       207
18        51
19     10515
20    135255
21      1722
22      1240
23       185
24       607
25      7021
26      1805
27     16345
28      8954
29       363
30     34579
31      3847
32       782
33     22786
34      7373
35     18318
Name: Deaths, dtype: int64

Now performing Label Encoding

In [11]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()  #Creating instance
df_covid['State_No'] = labelencoder.fit_transform(df_covid['State/UTs']) # New numerical column
df_covid

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%),State_No
0,Andaman and Nicobar,7549,1,7419,129,0.01,98.28,1.71,0
1,Andhra Pradesh,1995669,16341,1965657,13671,0.82,98.50,0.69,1
2,Arunachal Pradesh,51655,1763,49640,252,3.41,96.10,0.49,2
3,Assam,581398,8772,567113,5513,1.51,97.54,0.95,3
4,Bihar,725518,204,715665,9649,0.03,98.64,1.33,4
5,Chandigarh,62035,42,61182,811,0.07,98.62,1.31,5
6,Chhattisgarh,1003870,1037,989284,13549,0.10,98.55,1.35,6
7,Dadra and Nagar Haveli and Daman and Diu,10657,4,10649,4,0.04,99.92,0.04,7
8,Delhi,1437156,471,1411612,25073,0.03,98.22,1.74,8
9,Goa,172683,884,168622,3177,0.51,97.65,1.84,9
10,Gujarat,825213,179,814956,10078,0.02,98.76,1.22,10
11,Haryana,770245,660,759924,9661,0.09,98.66,1.25,11
12,Himachal Pradesh,210719,2705,204457,3557,1.28,97.03,1.69,12
13,Jammu and Kashmir,323582,1158,318025,4399,0.36,98.28,1.36,13
14,Jharkhand,347635,217,342286,5132,0.06,98.46,1.48,14
15,Karnataka,2931827,21507,2873281,37039,0.73,98.00,1.26,15
16,Kerala,3724030,175695,3529465,18870,4.72,94.78,0.51,16
17,Ladakh,20466,81,20178,207,0.40,98.59,1.01,17
18,Lakshadweep,10295,34,10210,51,0.33,99.17,0.50,18
19,Madhya Pradesh,792054,95,781444,10515,0.01,98.66,1.33,19
20,Maharashtra,6401213,64790,6201168,135255,1.01,96.87,2.11,20
21,Manipur,108948,5721,101505,1722,5.25,93.17,1.58,21
22,Meghalaya,72412,3591,67581,1240,4.96,93.33,1.71,22
23,Mizoram,49950,9084,40681,185,18.19,81.44,0.37,23
24,Nagaland,29274,1088,27579,607,3.72,94.21,2.07,24
25,Odisha,996153,8661,980471,7021,0.87,98.43,0.70,25
26,Puducherry,122391,856,119730,1805,0.70,97.83,1.47,26
27,Punjab,600008,543,583120,16345,0.09,97.19,2.72,27
28,Rajasthan,953960,163,944843,8954,0.02,99.04,0.94,28
29,Sikkim,28830,1982,26485,363,6.87,91.87,1.26,29
30,Tamil Nadu,2592436,20225,2537632,34579,0.78,97.89,1.33,30
31,Telengana,653202,6939,642416,3847,1.06,98.35,0.59,31
32,Tripura,81584,1436,79366,782,1.76,97.28,0.96,32
33,Uttar Pradesh,1708991,420,1685785,22786,0.02,98.64,1.33,33
34,Uttarakhand,342637,330,334934,7373,0.10,97.75,2.15,34
35,West Bengal,1539612,9736,1511558,18318,0.63,98.18,1.19,35

# Now performing One-Hot Encoding

In [12]:
df_covid = pd.get_dummies(df_covid['State/UTs'])
df_covid

,Andaman and Nicobar,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,Dadra and Nagar Haveli and Daman and Diu,Delhi,Goa,Gujarat,Haryana,Himachal Pradesh,Jammu and Kashmir,Jharkhand,Karnataka,Kerala,Ladakh,Lakshadweep,Madhya Pradesh,Maharashtra,Manipur,Meghalaya,Mizoram,Nagaland,Odisha,Puducherry,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telengana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
32,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
34,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

# Performing Standardization

In [39]:
from sklearn.preprocessing import StandardScaler

In [40]:
df2=df_covid

In [41]:
df2.columns

Index(['State/UTs', 'Total Cases', 'Active', 'Discharged', 'Deaths',
       'Active Ratio (%)', 'Discharge Ratio (%)', 'Death Ratio (%)'],
      dtype='object')

In [42]:
num_cols = ['Total Cases', 'Active', 'Discharged', 'Deaths'] #numerical features(dtypes:int)
for i in num_cols: #Apply Standardization on numerical features
    scale = StandardScaler().fit(df2[[i]])  #fit on training data column
    df2[[i]] = scale.transform(df2[[i]])   #transform the training data column

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [43]:
df2.head()  #Standardized DataFrame

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio (%),Discharge Ratio (%),Death Ratio (%)
0,Andaman and Nicobar,-0.691869,-0.337565,-0.696731,-0.519439,0.01,98.28,1.71
1,Andhra Pradesh,0.854908,0.202937,0.876587,0.072399,0.82,98.50,0.69
2,Arunachal Pradesh,-0.657554,-0.279280,-0.662809,-0.514063,3.41,96.10,0.49
3,Assam,-0.245409,-0.047434,-0.247053,-0.284137,1.51,97.54,0.95
4,Bihar,-0.133282,-0.330850,-0.127701,-0.103378,0.03,98.64,1.33